* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--pure-white);
}
:root {
  /* color */
  --primary-color: #341d0a;
  --secondary-color: #b68834;
  --pure-white: #fff;
  --pale-10-white: rgba(255, 255, 255, 0.1);
  --black-color: #222222;
  --star-yellow: #ffa500;
  --darkbrown-color: #1b1514e7;
  --grey-yellow: #c49b6e;
  --grey-color: rgb(245, 255, 250, 0.7);
  --grey-border: #d9d9d9;
  --light-grey: rgb(241, 241, 241);
  --grey-bg-img-color: rgb(236, 239, 241);
  --warning-red-color: #c80000;
  /* font size */
  --fs-h1: 6rem;
  --fs-h2: 3.9rem;
  --fs-h3: 1.8rem;
  --fs-h5: 2rem;
  --fs-1-8: 1.8rem;
  --fs-1-4: 1.4rem;
  --fs-20: 20px;
  --fs-24: 24px;
  /* font weight */
  --fw-very-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-500: 500;
  --fw-bold: 600;
  --fw-extra-bold: 700;
  --fw-black: 900;
  /* margin */
  --common-margin-top: 8rem;
  /* padding */
  --common-padding-top: 20rem;
  --common-padding-bottom: 20rem;
}
/* Common class */
.white-clr {
  color: var(--pure-white);
}
.black-clr {
  color: var(--black-color);
}
.yellow-clr {
  color: var(--star-yellow);
}
.common-padding {
  padding-top: var(--common-padding-top);
  padding-bottom: var(--common-padding-bottom);
}
.reponsive-container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* icon */
.css-vubbuv {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: var(--fs-1-8);
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
img {
  display: block;
  max-width: 100%;
}
h2 {
  font-size: var(--fs-h2);
  line-height: 1.4;
  font-weight: var(--fw-bold);
}
h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
p,
h4 {
  font-size: var(--fs-1-4);
}
h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-500);
}
p {
  font-weight: var(--fw-light);
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* transition */
.icon-trans {
  color: var(--pure-white);
  transition: color 0.3s ease, transform 0.3s ease;
}
.icon-trans:hover {
  color: var(--star-yellow);
  transform: scale(1.1);
}
.img-trans {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.img-trans:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
.a-trans {
  color: var(--pure-white);
  padding: 10px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}
.a-trans:hover {
  color: var(--star-yellow);
  border-bottom: 2px solid var(--star-yellow);
}
