.footer {
  padding-top: var(--common-padding-top);
  background-image: url(../image/footer/footer-banner.webp);
  margin-top: var(--common-margin-top);
  background-size: cover;
}
.footer .reponsive-container {
  display: flex;
  padding: 5rem 0 10rem;
  justify-content: space-between;
}
.footer-about {
  flex-basis: 35%;
}
.footer-newsletter {
  flex-basis: 30%;
}
.footer-follow-us {
  flex-basis: 10%;
}
.footer .reponsive-container h4 {
  font-size: var(--fs-1-8);
  font-weight: var(--fw-bold);
}
.footer .reponsive-container p {
  margin: 2rem 0;
}
.footer-copyright-text span {
  font-weight: var(--fw-extra-bold);
  color: var(--secondary-color);
}
.footer-search {
  position: relative;
}
.footer-search input {
  padding: 0.9rem;
  width: 100%;
  font-size: var(--fs-1-8);
}
.footer-search button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5rem;
  height: 100%;
  border: 0;
  outline: 0;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.footer-search button:hover {
  background-color: var(--grey-yellow);
}
.footer-search button .fa-arrow-right {
  font-size: var(--fs-1-8);
  color: var(--pure-white);
}
input:focus {
  outline: 0;
}
.footer-social-links i {
  font-size: var(--fs-1-8);
  color: var(--pure-white);
}
