.header {
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
}
/*------------------------------------------------------------------
[ Logo Imgage ]*/
.header-logo img {
  width: 8.5rem;
  border-radius: 5px;
}
/*------------------------------------------------------------------
[ Search ]*/
.header-search-form {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-color: var(--light-grey);
  background-color: var(--pale-10-white);
  border-radius: 5px;
  height: 40px;
}
.header-search-form .iconSearch {
  padding: 0 15px;
  cursor: pointer;
  font-size: var(--fs-1-8);
  opacity: 0.7;
}
.header-search-form input {
  background-color: transparent;
  border: none;
  color: var(--pure-white);
  font-size: var(--fs-1-4);
  width: 100%;
  opacity: 0.8;
}
.close-btn {
  margin-left: 10px;
  cursor: pointer;
}
/*------------------------------------------------------------------
[ Nav ]*/
.header-nav-ul {
  display: flex;
}
.header-nav-ul li:not(:last-of-type) {
  margin-right: 3rem;
}
.header-nav-ul a {
  font-size: var(--fs-1-4);
}

.header-nav {
  margin-left: 220px;
}
.header-cart {
  font-size: var(--fs-24);
}
