/*------------------------------------------------------------------
[ Content - Section 1 - Home ]*/
.section-1 {
  background: url(../image/background/bg_1.jpg);
  background-size: cover;
  height: 73.5rem;
  padding-top: var(--common-padding-top);
}
.section-1 .section-1-content h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin: 0.75rem 0 2.5rem;
}
.section-1 .section-1-content a {
  text-decoration: none;
  margin-right: 0.5rem;
}
.section-1 .section-1-content span {
  color: var(--grey-color);
  border-bottom: 2px solid var(--pale-10-white);
}
.section-1 .section-1-content p {
  letter-spacing: 1px;
}
/*------------------------------------------------------------------
[ Content - Section 2 - Menu]*/
.section-2 {
  background-color: var(--darkbrown-color);
}
.section-2-content-text span {
  color: var(--secondary-color);
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
  letter-spacing: 0.3rem;
  text-shadow: 2px 2px 4px var(--darkbrown-color);
  font-family: "Great Vibes", cursive;
  display: block;
  margin-bottom: -21px;
}
/*------------------------------------------------------------------
[ Section 2 Image Slider]*/
.section-2-content-menu .image-slider {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 46px;
}
.image-slider .image {
  margin-bottom: 20px;
}
.image-slider .image img {
  width: 236px;
  height: 236px;
  //height: 80%;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid var(--grey-yellow);
  margin: 0 auto;
}
.image-slider .image-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
}
/*------------------------------------------------------------------
[ Section 2 Image Slider Text]*/
.section-2-content-menu .image-item-text {
  width: 100%;
  margin: 0 auto;
}

.image-item-text > a {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2;
}
.image-item-text .price {
  font-size: var(--fs-20);
  line-height: 2;
  font-weight: var(--fw-bold);
  color: var(--star-yellow);
}
.image-item-text .text-about {
  color: var(--grey-color);
  padding: 8px 0;
}
.image-item-text .add-cart {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 6px;
  padding: 10px;
  display: block;
  margin-top: 2rem;
  cursor: pointer;
}
.image-item-text .add-cart:hover {
  border: 1px solid transparent;
  background: var(--secondary-color);
  color: var(--black-color);
  transition: all 0.4s linear;
  font-weight: var(--fw-light);
}
