* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--pure-white);
}

:root {
  /* imp! COLOR */
  --primary-color: #341d0a;
  --secondary-color: #b68834;
  --pure-white: #fff;
  --black-color: #222222;
  --star-yellow: #ffa500;
  /*imp! FONT SIZE */
  --fs-h1: 6rem;
  --fs-h2: 3.9rem;
  --fs-h3: 1.8rem;
  --fs-1-8: 1.8rem;
  --fs-1-4: 1.4rem;
  /*imp! FONT-WEIGHT */
  --fw-very-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-500: 500;
  --fw-bold: 600;
  --fw-extra-bold: 700;
  --fw-black: 900;
  /* imp! MARGIN */
  --common-margin-top: 8rem;
  /*imp! PADDING */
  --common-padding-top: 20rem;
  --common-padding-top-1: 12rem;
}

/* imp! Common CSS */
.white-clr {
  color: var(--pure-white);
}

.black-clr {
  color: var(--black-color);
}

.yellow-clr {
  color: var(--star-yellow);
}

h2 {
  font-size: var(--fs-h2);
  line-height: 1.4;
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

p,
h4 {
  font-size: var(--fs-1-4);
}

p {
  font-weight: var(--fw-light);
  line-height: 1.6;
}

.common-padding {
  padding-top: var(--common-padding-top);
}

.responsive-container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.text-center {
  text-align: center;
}
/* Header */
.header {
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  top: 0;
  left: 0;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //margin-top: 1rem;
}
.header-nav img {
  width: 8.5rem;
}
.header-nav-ul {
  display: flex;
  list-style-type: none;
}
.header-nav-ul li:not(:last-of-type) {
  margin-right: 3rem;
}
.header-nav-ul a {
  text-decoration: none;
  font-size: var(--fs-1-4);
}

/* Section */
/* Section 1 */
.section-1 {
  padding-top: 18rem;
  background: url(../image/banner/hero-section-banner.webp);
  background-size: cover;
  height: 68.1rem;
}
.section-1-span-text {
  font-size: var(--fs-1-4);
  font-weight: var(--fw-bold);
}
.section-1-main-heading {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin: 0.75rem 0 2.5rem;
}
.section-1-button-white,
.section-2-right-button-secondary {
  padding: 1rem 4.25rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  border: 0;
  outline: 0;
  background-color: var(--pure-white);
  font-family: inherit;
  font-weight: var(--fw-500);
  cursor: pointer;
}
/* Section 2 */
.section-2 {
  display: flex;
  justify-content: space-between;
  padding-top: var(--common-padding-top);
  flex-wrap: wrap;
}
.section-2-left,
.section-2-right {
  flex-basis: 50%;
}
.section-2-left video {
  width: 100%;
  border-radius: 1rem;
}
.section-2-right {
  max-width: 45rem;
}

.section-2-right-span {
  letter-spacing: 0.2rem;
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: var(--fw-light);
}

.section-2-right-h4 {
  font-weight: var(--fw-500);
  padding: 1.5rem 0;
}

.section-2-right-p {
  padding-bottom: 2rem;
}

.section-2-right-button-secondary {
  background-color: var(--secondary-color);
  color: var(--pure-white);
}
/* Section 3 */
.section-3 {
  margin-top: var(--common-margin-top);
}
